<main>
  <h1>Trang chủ</h1>

  <div style="margin-top: 40px;">
    <p style="font-size: 30px;">Tổng quan người dùng</p>
    
    <div class="row" style="margin-left: 20px;">
      <div class="col">
        <p style="font-size: 20px;">Tổng số lượng</p>
        <p style="font-size: 40px; color: #F59359; font-weight: bold;">{{countUser}}</p>
      </div>
      <div class="col">
        <p style="font-size: 20px;">Người dùng mới</p>
        <p style="font-size: 40px; color: #F59359; font-weight: bold;">{{countUser}}</p>
      </div>
      <div class="col">
        <p style="font-size: 20px;">Khiếu nại</p>
        <p style="font-size: 40px; color: #F59359; font-weight: bold;">{{countUser}}</p>
      </div>
    </div>
  </div>

  <div style="margin-top: 40px;">
    <p style="font-size: 30px;">Tổng quan cửa hàng</p>
    
    <div class="row" style="margin-left: 20px;">
      <div class="col">
        <p style="font-size: 20px;">Tổng số lượng</p>
        <p style="font-size: 40px; color: #F59359; font-weight: bold;">{{countMerchant}}</p>
      </div>
      <div class="col">
        <p style="font-size: 20px;">Người dùng mới</p>
        <p style="font-size: 40px; color: #F59359; font-weight: bold;">{{countMerchant}}</p>
      </div>
      <div class="col">
        <p style="font-size: 20px;">Khiếu nại</p>
        <p style="font-size: 40px; color: #F59359; font-weight: bold;">{{countMerchant}}</p>
      </div>
      <div class="col">
        <p style="font-size: 20px;">Tổng doanh số</p>
        <p style="font-size: 40px; color: #F59359; font-weight: bold;">{{countMerchant}}</p>
      </div>
    </div>
  </div>
</main>