{{#section "js"}}
    <script>
        var nextPage =
        {{{json next}}}
        var prevPage =
        {{{json prev}}}
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="../../static/js/admin/manage-user.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/css/admin/manage-user.css" />
{{/section}}
<section class="manage-user-admin">
    <div class="section-one">
        <h1 class="title-page">Danh sách người sử dụng</h1>
    </div>
    <div class="section-two">
        <div class="form-group has-search">
            <a id="search-link"><span class="fa fa-search form-control-feedback"></span></a>
            {{#if search}}
                <input type="text" class="form-control" placeholder="" id="search-text" value="{{this.filter}}" />
            {{else}}
                <input type="text" class="form-control" placeholder="Tìm kiếm người dùng theo tài khoản" id="search-text" />
            {{/if}}
        </div>
    </div>
    <div class="section-three">
        <div class="card">
            <table class="table {{#if isEmpty}}no-hover{{else}}table-hover{{/if}} custom-table">
                <thead>
                    <tr style="height: 30px;line-height: 30px;">
                        <th scope="col" style="width: 10%;">STT</th>
                        <th scope="col" style="width: 15%;">Username</th>
                        <th scope="col" style="width: 20%;">Tên người dùng</th>
                        <th scope="col">Email</th>
                        <th scope="col" style="width: 15%;">Ngày đăng ký</th>
                        <th scope="col"> &nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if isEmpty}}
                        <tr>
                            <td colspan="6" style="padding: 20px; user-select: none;">Tên đăng nhập không hợp lệ</td>
                        </tr>
                    {{else}}
                        {{#each user}}
                            <tr class="h-70">
                                <th scope="row">{{this.pageIndex}}</th>
                                <td>{{this.username}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>dd/mm/yyyy</td>
                                <td style="width: 15%;">
                                    {{!-- <a href="/admin/manage-user/ban-user?userId={{this.id}}"><button class="detail-btn">Báo cáo</button></a> --}}
                                     <a href=""><button class="detail-btn" data-user-id="{{this.id}}">Báo cáo</button></a>
                                </td>
                            </tr>
                        {{/each}}
                    {{/if}}

                </tbody>
            </table>
            <div class="card-footer">
                <span>
                    <b>Trang {{this.currentPage}} / {{this.nPages}}</b>
                <span class="sub-count">&nbsp;&nbsp;(Tổng số người dùng: {{this.total}})</span>
                </span>
                <div class="button-pagnation">
                    {{#if search}}
                        {{#if prev}}
                            <a id="prevPageLink"><button class="next-btn" id="prevPageLink">Trang trước</button></a>
                        {{/if}}
                        {{#if next}}
                            <a id="nextPageLink"><button class="prev-btn" id="nextPageLink">Trang sau</button></a>
                        {{/if}}
                    {{else}}
                        {{#if prev}}
                            <a href="?page={{this.prev}}"><button class="next-btn">Trang trước</button></a>
                        {{/if}}
                        {{#if next}}
                            <a href="?page={{this.next}}"><button class="prev-btn">Trang sau</button></a>
                        {{/if}}
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</section>