{{#section "js"}}
    <script src="/static/js/user/order-status/chat.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/user/order-chat.css" />
{{/section}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section class="section-one">
    <div class="container">
        <H2>THÔNG TIN ĐƠN HÀNG</H2>
        <div class="order-detail-shop">
            <span>{{shopName}}</span>
        </div>
        <input id="userId" name="random" type="hidden" value={{userId}}>
        <input id="merchantId" name="random" type="hidden" value={{merchantId}}>
        <div class="production-order-list">
            <div class="production-order-list-title">
                <span>Sản phẩm</span>
                <span>Giá</span>
                <span>Số lượng</span>
                <span>Thành tiền</span>
            </div>
            {{#each orderItem}}
                <div class="production-order-item">
                    <div class="product-info">
                        <div class="product-img">
                            <img src={{this.image}} alt="" />
                        </div>
                        <div class="product-title">
                            <span>{{this.name}}</span>
                            <p>{{this.notes}} </p>
                        </div>
                    </div>
                    <div class="product-price">
                        <span>{{this.price}}</span>
                    </div>
                    <div class="product-quantity">
                        <span>{{this.quantity}}</span>
                    </div>
                    <div class="product-total">
                        <span>{{this.totalPrice}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
        <H2>TIN NHẮN TRỰC TIẾP</H2>
        
        <div class="row clearfix container-xxl">
            <div class="col-xl-12">
                <div class="card chat-app">
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row  ">
                                <div class="col-lg-6 d-flex align-items-center">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    </a>
                                    <div class="chat-about">
                                        <h6 class="m-b-0">{{shopName}}</h6>
                                    </div>
                                </div>
                                {{!-- <div class="col-lg-6 hidden-sm text-right">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                                </div> --}}
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul id="chatPanel" class="m-b-0">
                                {{#each this.messagesHistory}}
                                {{#if this.flag }}
                                    <li class="clearfix" >
                                        <div class="message other-message float-right">
                                            {{this.message}}
                                        </div>
                                    </li>
                                {{else}}
                                    <li class="clearfix">
                                        <div class="message my-message float-left">
                                            {{this.message}}
                                        </div>
                                    </li>
                                {{/if}}
                            {{/each}}
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <div class="input-group mb-0 d-flex justify-content-center align-items-center">
                                <div class="input-group-prepend  px-2">
                                    <button id="sendOrderInfoBtn" class="input-group-text">Gửi thông tin đơn hàng</button>
                                </div>
                                <input id="input" type="text" class="form-control rounded-1" holder="Enter text here...">
                                <div class="input-group-prepend">
                                    <button id="sendBtn" class="input-group-text"><i class="fa fa-send"></i></button>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>