{{#section "js"}}
    <script src="/static/js/user/order-status/chat.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/user/order-chat.css" />
{{/section}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<section class="section-one">
    <div class="container">
        <H2>THÔNG TIN ĐƠN HÀNG</H2>
        <div class="order-detail-shop">
            <span>{{shopName}}</span>
        </div>
        <div class="production-order-list">
            <div class="production-order-list-title">
                <span>Sản phẩm</span>
                <span>Giá</span>
                <span>Số lượng</span>
                <span>Thành tiền</span>
            </div>
            {{#each orderItem}}
                <div class="production-order-item">
                    <div class="product-info">
                        <div class="product-img">
                            <img src={{this.image}} alt="" />
                        </div>
                        <div class="product-title">
                            <span>{{this.name}}</span>
                            <p>{{this.notes}} </p>
                        </div>
                    </div>
                    <div class="product-price">
                        <span>{{this.price}}</span>
                    </div>
                    <div class="product-quantity">
                        <span>{{this.quantity}}</span>
                    </div>
                    <div class="product-total">
                        <span>{{this.totalPrice}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
        <H2>TIN NHẮN TRỰC TIẾP</H2>
        
        <div class="row clearfix container-xxl">
            <div class="col-xl-12">
                <div class="card chat-app">
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row  ">
                                <div class="col-lg-6 d-flex align-items-center">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    </a>
                                    <div class="chat-about">
                                        <h6 class="m-b-0">Aiden Chavez</h6>
                                    </div>
                                </div>
                                {{!-- <div class="col-lg-6 hidden-sm text-right">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                                </div> --}}
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                <li class="clearfix">
                                    <div class="message-data text-right">
                                        <span class="message-data-time">10:10 AM, Today</span>
                                    </div>
                                    <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                                </li>
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:12 AM, Today</span>
                                    </div>
                                    <div class="message my-message">Are we meeting today?</div>                                    
                                </li>                               
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:15 AM, Today</span>
                                    </div>
                                    <div class="message my-message">Project has been already finished and I have results to show you.</div>
                                </li>
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-send"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter text here...">                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>