{{#section "js"}}
    <script src="/static/js/user/order-status/index.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/user/order-status.css" />
{{/section}}
<div class="order-status">
    <section class="section-one">
        <div class="container">
            <div class="section-one-content">
                <div class="order-status-breadcrumbs">
                    <span>Trang chủ</span>
                    <span>&gt;</span>
                    <span>Giỏ hàng của tôi</span>
                    <span>&gt;</span>
                    <span>Đơn hàng</span>
                    <span>&gt;</span>
                    <span>Mã đơn hàng: </span>
                    <span>{{orderInfo.orderId}}</span>
                </div>
                <div class="order-status-id-order">
                    <h3 class="order-status-id-header">ID đơn hàng: {{orderInfo.orderId}}</h3>
                    <button class="order-status-detail-btn">
                        <i class="bi bi-file-earmark-text"></i>
                        <span>Liên lạc</span>
                    </button>
                </div>

                <div class="order-status-sub-info">
                    <div class="order-stauts-time-begin">
                        <span>Thời gian đặt đơn: </span>
                        <b>{{orderInfo.orderTime}}</b>
                    </div>
                    <img src="/static/images/user/order-status/line.png" class="order-status-line" alt="" />
                    <div class="order-status-time-arrive">
                        <i class="fa-solid fa-truck-fast"></i>
                        <span>Giao hàng dự kiến: </span>
                        <span>{{orderInfo.orderPredictTime}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <hr />
    </div>
    <section class="section-two">
        <div class="container">
            <div class="timeline">
                {{#each this.orderInfo.orderStatus}}
                    {{#if this.isCurrent}}
                        <div class="timeline-step active">
                            <p class="timeline-text">{{this.status}}</p>
                            <div class="timeline-icon"></div>
                            <p class="timeline-time">{{this.time}}</p>
                        </div>
                    {{else}}
                        <div class="timeline-step">
                            <p class="timeline-text">{{this.status}}</p>
                            <div class="timeline-icon"></div>
                            <p class="timeline-time">{{this.time}}</p>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </section>
    <section class="section-three">
        <div class="container">
            {{#each orderInfo.orderStatus}}
                {{#if this.isCurrent}}
                    <img src={{this.img}} class="order-status-img" alt="" />
                    <span class="order-status-detail">{{this.status}}</span>
                {{/if}}
            {{/each}}
        </div>
    </section>
    <div class="container">
        <hr />
    </div>
    <section class="section-four">
        <div class="container">
            <div class="order-detail-shop">
                <span>{{orderInfo.shopName}}</span>
                <span>&gt;</span>
            </div>
            <div class="production-order-list">
                <div class="production-order-list-title">
                    <span>Sản phẩm</span>
                    <span>Giá</span>
                    <span>Số lượng</span>
                    <span>Thành tiền</span>
                </div>
                {{#each orderItem}}
                    <div class="production-order-item">
                        <div class="product-info">
                            <div class="product-img">
                                <img src={{this.image}} alt="" />
                            </div>
                            <div class="product-title">
                                <span>{{this.name}}</span>
                                <p>{{this.notes}} </p>
                            </div>
                        </div>
                        <div class="product-price">
                            <span>{{this.price}}</span>
                        </div>
                        <div class="product-quantity">
                            <span>{{this.quantity}}</span>
                        </div>
                        <div class="product-total">
                            <span>{{this.totalPrice}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="production-order-info">
                <div class="order-location">
                    <span class="order-location-title">GIAO HÀNG ĐẾN</span>
                    <div class="order-location-info">
                        <span>Địa chỉ</span>
                        <span>227 Nguyễn Văn Cừ,</span>
                        <span>phường 4, quận 5,</span>
                        <span>Thành phố Hồ Chí minh</span>
                    </div>
                    <div class="order-user-phone">
                        <span>SĐT</span>
                        <span>{{this.orderInfo.userPhone}}</span>
                    </div>
                </div>
                <div class="order-review">
                    <span class="order-review-title">TÓM TẮT ĐƠN HÀNG</span>
                    <div class="order-review-detail">
                        <div class="order-review-total-quatity">
                            <span>Tổng cộng ({{this.orderInfo.totalItem}} món)</span>
                            <span>{{this.orderInfo.totalPrice}}</span>
                        </div>
                        <div class="order-review-detail-item">
                            <span>Phí giao hàng ({{this.orderInfo.distance}} km)</span>
                            <span>{{orderInfo.shipFee orderInfo.distance}}</span>
                        </div>
                        <div class="order-review-detail-item">
                            <span>Giảm giá</span>
                            <span>-15.000đ</span>
                        </div>
                        <div class="order-review-total-price">
                            <span>Phải trả</span>
                            <span class="order-review-total-price-main">165.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>