{{#section "js"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/locales/vi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>

    <script src="/static/js/user/profile/datepicker.js"></script>
    <script src="/static/js/user/profile/index.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">

    <link rel="stylesheet" href="/static/css/user/profile.css" />
{{/section}}

<section class="profile-page mb-5">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="side">
                <div class="user mb-5">
                    <img src="{{image}}" class="size-image"/>
                    <h5 class="my-auto text-center">{{fullName}}</h5>
                </div>
                <nav class="link">
                    <a href="/profile?optional=default" class="page">
                        Tài khoản của tôi
                    </a>
                    <a href="/profile?optional=address" class="page">
                        Địa chỉ thường dùng
                    </a>
                    <a href="/profile?optional=history" class="page">
                        Lịch sử đơn hàng
                    </a>
                    <a href="/profile?optional=password" class="page">
                        Đổi mật khẩu
                    </a>
                    <a href="/profile?optional=register" class="page">
                        Đăng ký tạo cửa hàng
                    </a>
                </nav>
            </div>

            <div>
                <div class="container py-2">
                    <div class="row justify-content-center">
                        <div class="col-md-12 content" id="default">
                            <h2 class="mb-4">Tài khoản của tôi</h2>
                            {{!-- enctype="multipart/form-data" --}}
                            <form id="infoForm" action="" method="post">
                                <div class="form-group mb-4 d-flex align-items-start">
                                    <label for="inputUserName">Tên đăng nhập</label>
                                    <input type="text" class="form-control" id="inputUserName" readonly value="{{userName}}">
                                </div>
                                <div class="form-group mb-4 d-flex align-items-start">
                                    <label for="inputFullName">Họ và Tên</label>
                                    <input type="text" name="fullname" class="form-control" id="inputFullName" placeholder="Nhập họ và tên của bạn" value="{{fullName}}">
                                </div>
                                <div class="form-group mb-4 d-flex align-items-start">
                                    <label for="inputEmail">Email</label>
                                    <div class="has-validation">
                                        <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="checkValidationEmailUser" placeholder="Nhập email của bạn" value="{{email}}">
                                        <div id="checkValidationEmailUser" class="invalid-feedback">
                                            Vui lòng nhập đúng định dạng của email, ví dụ: abc@gmail.com
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group mb-4 d-flex align-items-start">
                                    <label for="inputPhoneNumber">Số điện thoại</label>
                                    <div class="has-validation">
                                        <input type="text" name="phone" class="form-control" id="inputPhoneNumber" aria-describedby="checkValidationPhoneUser" placeholder="Nhập số điện thoại của bản thân" value="{{phone}}">
                                        <div id="checkValidationPhoneUser" class="invalid-feedback">
                                            Vui lòng nhập đúng định dạng của số điện thoại, ví dụ: 0346257268
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="form-group-radio mb-4 d-flex align-items-start">
                                    <span class="label">Giới tính</span>
                                    <div class="form-check form-check-inline input">
                                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Nam" {{#if (equal "Nam" gender)}}checked{{/if}}>
                                        <label class="form-check-label" for="inlineRadio1">Nam</label>
                                    </div>
                                    <div class="form-check form-check-inline input">
                                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Nữ" {{#if (equal "Nữ" gender)}}checked{{/if}}>
                                        <label class="form-check-label" for="inlineRadio2">Nữ</label>
                                    </div>
                                    <div class="form-check form-check-inline input">
                                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="Khác" {{#if (equal "Khác" gender)}}checked{{/if}}>
                                        <label class="form-check-label" for="inlineRadio2">Khác</label>
                                    </div>
                                </div>

                                <div class="form-group mb-4 d-flex align-items-start">
                                    <label class="label" for="txtDoB">Ngày sinh</label>
                                    <div class="row">
                                        <div class="input-container">
                                            <div id="toggle" class="fas fa-calendar"></div>
                                            <input type="text" id="txtDoB" name="birthdate" class="form-control" value="{{birthdate}}">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group mb-4">
                                    <label for="fuMain">Ảnh đại diện</label>
                                    <input type="file" id="fuMain" name="image">
                                </div>
                                
                                <div class="d-flex justify-content-center mb-4">
                                    <button type="submit" class="btn custom-button" id="updateButton">
                                        <i class="bi bi-floppy-fill"></i>
                                        <span>Cập nhật thông tin</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-12 content" id="address">
                            <h2 class="mb-4">Địa chỉ thường dùng</h2>
                            <form id="addressForm" action="" method="post">
                                {{#each addresses}}
                                    <div class="form-group mb-4 d-flex align-items-start">
                                        <label class="d-flex align-items-center" for="inputAddress{{this.index}}">Địa chỉ {{this.index}}</label>
                                        <div class="has-validation">
                                            <input type="text" class="form-control" name="address" id="inputAddress{{this.index}}" placeholder="Nhập địa chỉ của bạn" aria-describedby="checkValidationAddress{{this.index}}" value="{{this.info}}">
                                            <div id="checkValidationAddress{{this.index}}" class="invalid-feedback">
                                                Vui lòng nhập đúng định dạng của địa chỉ: "Số nhà" "Tên đường", "Phường", "Quận", "TP.HCM".
                                                <br> Ví dụ: 227 Nguyễn Văn Cừ, phường 4, quận 5, TP.HCM.
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                
                                <div class="d-flex justify-content-center mb-4">
                                    <button type="button" class="btn custom-button" onclick="addNewAddress()">
                                        <i class="bi bi-pin-map-fill"></i>
                                        <span>Thêm địa chỉ mới</span>
                                    </button>
                                    <button id="submitButton" type="submit" class="btn custom-button">
                                        <i class="bi bi-floppy-fill"></i>
                                        <span>Cập nhật thông tin</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="order-history content" id="history">
                            <div class="d-flex justify-content-between">
                                <h2 class="mb-3">Lịch sử đơn hàng</h2>
                                <div class="d-flex filter align-items-center mb-4">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle btn-sm custom-filter" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="false">
                                        {{statusFilter}}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        <li><a class="dropdown-item" href="?optional=history&status=all&startDate={{startDate}}&endDate={{endDate}}">Tất cả trạng thái</a></li>
                                        <li><a class="dropdown-item" href="?optional=history&status=pending&startDate={{startDate}}&endDate={{endDate}}">Đang chờ</a></li>
                                        <li><a class="dropdown-item" href="?optional=history&status=preparing&startDate={{startDate}}&endDate={{endDate}}">Đang chuẩn bị</a></li>
                                        <li><a class="dropdown-item" href="?optional=history&status=delivering&startDate={{startDate}}&endDate={{endDate}}">Đang giao</a></li>
                                        <li><a class="dropdown-item" href="?optional=history&status=delivered&startDate={{startDate}}&endDate={{endDate}}">Hoàn thành</a></li>
                                        <li><a class="dropdown-item" href="?optional=history&status=cancelled&startDate={{startDate}}&endDate={{endDate}}">Đã hủy</a></li>
                                        </ul>
                                    </div>

                                    <div class="">
                                        {{!-- <label for="periodPicker">Chọn Khoảng Thời Gian:</label> --}}
                                        <div class="input-container" id="periodPicker">
                                            <div class="">
                                                <input type="text" class="form-control" id="timeRange" placeholder="Chọn khoảng thời gian đặt hàng"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                <div id="toggleIcon" class="fas fa-calendar"></div>
                                            </div>
                                        </div>
                                    </div>

                                    {{!-- <div class="input-container">
                                        <input type="text" id="dateRangePicker" placeholder="Chọn khoảng thời gian đặt hàng">
                                        <div id="toggleIcon" class="fas fa-calendar"></div>
                                    </div> --}}

                                </div>
                            </div>
                            {{#if empty}}
                                <div class="card">
                                    <div class="card-footer text-muted" id="none">
                                        Không tìm thấy đơn hàng phù hợp nào. Bạn vui lòng kiểm tra và thử lại nhé. 
                                    </div>   
                                </div> 
                                    
                            {{else}}
                                {{#each orders}}
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row">
                                                        <h5>Đơn hàng</h5>
                                                        <span>#{{this.id}}</span>
                                                    </div>
                                                    <span>{{this.timeOrder}}</span>
                                                </div>

                                                <div class="col-md-5 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                        <img src="{{this.image_merchant}}" class="w-100" />
                                                        <a href="#!">
                                                            <div class="hover-overlay">
                                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-6 col-xl-6">
                                                    <h5>{{this.name_merchant}}</h5>
                                                    <div class="mt-0 mb-1 text-muted small">
                                                        <span>{{this.address_merchant}}</span>
                                                    </div>
                                                    <p class="text-truncate mb-4 mb-md-0">
                                                        {{this.quantity}} món
                                                    </p>
                                                </div>

                                                <div class="col-lg-3 col-xl-3 d-flex flex-column justify-content-between">
                                                    <div class="mb-1 d-flex justify-content-end mt-4" style="color: var(--orange-color);">
                                                        {{this.total}}đ
                                                    </div>
                                                    <div class="d-flex justify-content-end">
                                                        <a href="#" id="view-more" class="small">Xem chi tiết</a>
                                                    </div>
                                                </div>

                                                <div class="border-top mt-3">
                                                    <div class="d-flex justify-content-between align-item-center mt-3">
                                                        <div class="text-muted small my-auto text-center status">
                                                            <span>{{this.status}}</span>
                                                        </div>
                                                        <a href="/foods/{{this.id_merchant}}">
                                                            <button type="button" class="btn custom-button btn-sm">Đặt hàng lại</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                <nav aria-label="Page navigation example" class="justify-content-center">
                                    <ul class="pagination">
                                        {{#if this.isFirstPage}}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">Trang trước</a>
                                            </li>
                                        {{else}}
                                            <li class="page-item">
                                                <a class="page-link" href="#" id="previousPage" onclick="renderPreviousPage()">Trang trước</a>
                                            </li>
                                        {{/if}}

                                        {{#each this.pageNumbers}}
                                        {{#if isActive}}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="#">{{value}}</a>
                                        </li>
                                        {{else}}
                                        <li class="page-item">
                                            <a class="page-link" href="?optional=history&status={{statusFilter}}&startDate={{startDate}}&endDate={{endDate}}&page={{value}}">{{value}}</a>
                                        </li>
                                        {{/if}}
                                        {{/each}}

                                        {{#if this.isLastPage}}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">Trang sau</a>
                                            </li>
                                        {{else}}
                                            <li class="page-item">
                                                <a class="page-link" href="#" id="nextPage" onclick="renderNextPage()">Trang sau</a>
                                            </li>
                                        {{/if}}
                                    </ul>
                                </nav>
                            {{/if}}
                        </div>

                        <div class="col-md-12 floating-form content" id="password">
                            <h2 class="mb-4">Đổi mật khẩu</h2>
                            <form id="passwordForm" action="" method="post">
                                <div class="form-group mb-4 d-flex align-items-start">
                                    <label for="inputCurrentPassword">Mật khẩu hiện tại</label>
                                    <div class="has-validation">
                                        <input type="password" class="form-control" name="currentPassword" id="inputCurrentPassword" aria-describedby="checkValidationOldPassword" required placeholder="Nhập mật khẩu hiện tại của bạn">
                                        <div id="checkValidationOldPassword" class="invalid-feedback">
                                            Mật khẩu không chính xác, vui lòng nhập lại.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-4 d-flex align-items-start" >
                                    <label for="txtPassword">Mật khẩu mới</label>
                                    <div class="has-validation">
                                        <input type="password" name="newPassword" id="txtPassword" class="form-control" aria-describedby="checkValidationPassword" required placeholder="Nhập mật khẩu mới của bạn">
                                        <div id="checkValidationPassword" class="invalid-feedback">
                                            Vui lòng nhập mật khẩu gồm ít nhất 8 kí tự và nhiều nhất là 50 kí tự, có chứa ít nhất 1 chữ cái in hoa, 1 chữ cái thường và 1 chữ số, không chứa khoảng trắng nào.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-4 d-flex align-items-start">
                                    <label for="txtConfirm">Nhập lại mật khẩu mới</label>
                                    <div class="has-validation">
                                        <input type="password" name="re_enterNewPassword" id="txtConfirm" class="form-control" aria-describedby="checkValidationConfirmPassword" required placeholder="Nhập lại mới khẩu mới của bạn">
                                        <div id="checkValidationConfirmPassword" class="invalid-feedback">
                                            Vui lòng nhập chính xác mật khẩu đã nhập ở trên
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mb-4">
                                    <button id="submitPasswordButton" type="submit" class="btn custom-button">
                                        <i class="bi bi-floppy-fill"></i>
                                        <span>Đổi mật khẩu</span>
                                    </button>
                                </div>
                                <input type="hidden" id="userID" value="{{userID}}">
                            </form>
                        </div>

                        <div class="col-md-12 floating-form content" id="register">
                            {{#if isExists}}
                                <div class="card">
                                    <div class="card-footer text-muted" id="none">
                                        Đơn đăng ký trở thành merchant của bạn đang trong thời gian xác nhận, vui lòng đợi trong vài ngày. 
                                        Khi được duyệt, tài khoản của bạn sẽ tự động trở thành merchant. Còn nếu không được duyệt, bạn sẽ
                                        nhận được email từ chối vì lý do nào đấy.
                                    </div>   
                                </div> 
                            {{else}}
                                <h2 class="mb-4">Thông tin đăng ký</h2>
                                <form action="" method="post" id="RegisterForm">
                                    <div class="form-group mb-4 d-flex align-items-start">
                                        <label for="inputShopName">Tên nhà hàng/ quán ăn</label>
                                        <div class="has-validation">
                                            <input type="text" class="form-control" id="inputShopName" name="name" aria-describedby="checkValidationShopName" placeholder="Nhập tên nhà hàng/ quán ăn muốn đăng ký" required>
                                            <div id="checkValidationShopName" class="invalid-feedback">
                                                Vui lòng không bỏ trống mục này
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="form-group mb-4 d-flex align-items-start">
                                        <label for="inputFullName">Tên người đại diện</label>
                                        <div class="has-validation">
                                            <input type="text" class="form-control" id="inputRepresentative" name="representative" aria-describedby="checkValidationRepresentative" placeholder="Nhập tên người đại diện của quán" required>
                                            <div id="checkValidationRepresentative" class="invalid-feedback">
                                                Vui lòng không bỏ trống mục này
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4 d-flex align-items-start">
                                        <label for="inputCitizenIdentityCard">CCCD người đại diện</label>
                                        <div class="has-validation">
                                            <input type="text" class="form-control" id="inputCitizenIdentityCard" name="cccd" aria-describedby="checkValidationCCCD" placeholder="Nhập CCCD của người đại diện quán" required>    
                                            <div id="checkValidationCCCD" class="invalid-feedback">
                                                Vui lòng nhập đúng định dạng của CCCD (12 chữ số), ví dụ: 070303024139
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4 d-flex align-items-start">
                                        <label for="inputShopEmail">Email của quán</label>
                                        <div class="has-validation">
                                            <input type="email" class="form-control" id="inputShopEmail" name="email" aria-describedby="checkValidationEmail" placeholder="Nhập email của quán" required>
                                            <div id="checkValidationEmail" class="invalid-feedback">
                                                Vui lòng nhập đúng định dạng của email, ví dụ: abc@gmail.com
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4 d-flex align-items-start">
                                        <label for="inputShopPhoneNumber">Số điện thoại của quán</label>
                                        <div class="has-validation">
                                            <input type="text" class="form-control" id="inputShopPhoneNumber" name="phone" aria-describedby="checkValidationPhone" placeholder="Nhập số điện thoại của quán" required>
                                            <div id="checkValidationPhone" class="invalid-feedback">
                                                Vui lòng nhập đúng định dạng của số điện thoại, ví dụ: 0346257268
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4 d-flex align-items-start">
                                        <label for="inputShopAddress">Địa chỉ kinh doanh</label>
                                        <div class="has-validation">
                                            <input type="text" class="form-control" id="inputShopAddress" name="address" aria-describedby="checkValidationAddressShop" placeholder="Nhập địa chỉ kinh doanh" required>
                                            <div id="checkValidationAddressShop" class="invalid-feedback">
                                                Vui lòng nhập đúng định dạng của địa chỉ: "Số nhà" "Tên đường", "Phường", "Quận", "TP.HCM". <br> Ví dụ: 227 Nguyễn Văn Cừ, phường 4, quận 5, TP.HCM.
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- <div class="form-group mb-4">
                                        <label for="selectType">Loại kinh doanh</label>
                                        <div class="dropup">
                                            <button class="form-control dropdown-toggle custom-filter" type="button" id="dropdownCategory" data-toggle="dropdown" aria-expanded="false">
                                            Hãy chọn những loại kinh doanh của cửa hàng bạn
                                            </button>
                                            <input id="selectedCategory" name="type" type="hidden"></input>
                                            <ul class="dropdown-menu dropdown-category" aria-labelledby="dropdownCategory">
                                                {{#each this.categories}}
                                                    <li><a class="dropdown-item category" data-value="{{name}}">{{name}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div> --}}
                                    
                                    {{!-- <div class="form-group mb-4">
                                        <label for="selectType">Loại kinh doanh</label>
                                        <select id="dropdownCategory" name="type" class="form-control selectpicker" data-live-search="true" multiple>
                                            {{#each this.categories}}
                                                <option value="{{name}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div> --}}
                                    <div class="form-group mb-4 d-flex align-items-start">
                                        <label for="selectType">Loại kinh doanh</label>
                                        <div class="dropup">
                                            <div class="has-validation">
                                                <button class="form-control dropdown-toggle custom-filter d-flex justify-content-start align-items-center is-invalid" aria-describedby="checkValidationCategories" type="button" id="dropdownCategory" data-toggle="dropdown" aria-expanded="false">
                                                Hãy chọn những loại kinh doanh của cửa hàng bạn
                                                </button>
                                                <input id="selectedCategory" name="type" type="hidden">
                                                <ul class="custom-dropdown-menu dropdown-menu dropdown-category" aria-labelledby="dropdownCategory">
                                                    {{#each this.categories}}
                                                        <li>
                                                            <div class="custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input category-checkbox" id="{{name}}" data-value="{{name}}">
                                                                <label class="dropdown-item category" for="{{name}}">{{name}}</label>
                                                            </div>
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                                <div id="checkValidationCategories" class="invalid-feedback">
                                                Vui lòng chọn ít nhất một lựa chọn, nhiều nhất là ba.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-4">
                                        <button id="submitRegisterButton" type="submit" class="btn custom-button">
                                            <i class="bi bi-ui-checks"></i>
                                            <span>Gửi đơn đăng ký</span>
                                        </button>
                                    </div>
                                </form>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
