{{#section "js"}}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/js/user/shopping-cart/index.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/user/shopping-cart.css" />
{{/section}}

<div class="shopping-cart-page">
    <section class="section-one">
        <div class="container">
            <div class="section-one-content">
                <div class="shopping-cart-breadcrumbs">
                    <span>Trang chủ</span>
                    <span>&gt;</span>
                    <span>Giỏ hàng</span>
                </div>
            </div>
        </div>
    </section>
    {{#if noItem}}
    <section class="section-two">
        <div class="container">
            <div class="section-two-content">
                <p class="shopping-cart-title">Chưa có món ăn nào trong giỏ hàng</p>
                <p class="shopping-cart-message">Hãy nếm thử những món ăn ngon nào!</p>
            </div>
        </div>
    </section>
    {{else}}
    <section class="section-two">
        <div class="container">
            <div class="section-two-content">
                <p class="shopping-cart-title">Giỏ hàng của bạn</p>
            </div>
        </div>
    </section>
    {{/if}}
    <section class="section-three">
        <div class="container">
            <div class="section-three-content">
                {{#if orderDetail.orderItems}}
                    {{#each orderDetail.orderItems}}
                    <div class="item-card">
                        <div class="item-card-col-1">
                            <p class="item-title-font">SẢN PHẨM</p>
                            <div class="item-info">
                                <img class="item-img" src="{{this.itemImage}}" alt="{{this.itemImage}}">
                                <div class="item-name">
                                    <p class="item-title-font">{{this.itemName}}</p>
                                    <p class="item-normal-font">{{this.itemType}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item-card-col-2">
                            <div class="price-col">
                                <p class="item-title-font text-align-center">GIÁ</p>
                                <p class="item-normal-font text-align-center">{{this.itemPrice}}Đ</p>
                            </div>
                            <div class="price-col">
                                <p class="item-title-font text-align-center">SỐ LƯỢNG</p>
                                <p class="item-normal-font text-align-center">{{this.itemQuantity}}</p>
                            </div>
                            <div class="price-col">
                                <p class="item-title-font text-align-center">THÀNH TIỀN</p>
                                <p class="item-normal-font text-align-center">{{this.itemTotal}}Đ</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </section>
    <section class="section-four">
        <div class="container">
            <div class="section-four-content">
                <div class="order-option-row">
                    <p class="order-option-title">MÃ GIẢM GIÁ</p>
                    {{#if orderDetail.orderFoodVoucher}}
                    <p class="order-option-body">
                        Mã: {{orderDetail.orderFoodVoucher.voucherId}}
                        Giảm: {{orderDetail.orderFoodVoucher.valueOfDiscount}}</p>
                    {{else}}
                    <p class="order-option-body">Chưa chọn mã giảm giá</p>
                    {{/if}}
                </div>
                <div class="order-option-row">
                    <p class="order-option-title">MÃ SHIPPING</p>
                    {{#if orderDetail.orderShipVoucher}}
                    <p class="order-option-body">
                        Mã: {{orderDetail.orderShipVoucher.voucherId}}
                        Giảm: {{orderDetail.orderShipVoucher.valueOfDiscount}}</p>
                    {{else}}
                    <p class="order-option-body">Chưa chọn mã shipping</p>
                    {{/if}}
                </div>
                <div class="order-option-row">
                    <p class="order-option-title">ĐỊA CHỈ GIAO HÀNG</p>
                    {{#if orderDetail.addressOrder}}
                    <p class="order-option-body">{{orderDetail.addressOrder}}</p>
                    {{else}}
                    <p class="order-option-body">Chưa chọn địa chỉ</p>
                    {{/if}}
                </div>
                <div class="order-option-row">
                    <p class="order-option-title">TỔNG GIÁ TIỀN</p>
                    <p class="order-total">{{orderDetail.total}}Đ</p>
                </div>
                <div class="order-button-row">
                    <a href="/shopping-cart/food-voucher" class="order-button" id="choose-fv">Chọn mã giảm giá</a>
                    <a href="/shopping-cart/ship-voucher" class="order-button" id="choose-fv">Chọn mã shipping</a>
                    <a href="#" class="order-button" id="choose-fv">Chọn địa chỉ</a>
                    <a href="#" class="order-button" id="order-submit">Đặt hàng</a>
                </div>
            </div>
        </div>
    </section>
</div>