{{#section 'js'}}
    <script src="/static/js/merchant/foodlist/index.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/locales/vi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>

{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">

    <link rel="stylesheet" href="/static/css/merchant/foodlist.css" />
{{/section}}

<div class="custom-container">
    <input type="hidden" id="categoryId" value="{{categoryId}}">
    <input type="hidden" id="merchantId" value="{{merchantId}}">
    <div class="top d-flex align-items-center justify-content-between mb-3">
        <h3>Danh sách sản phẩm</h3>
        <div class="btn-function">
            <button type="button" id="resetQuantity" class="btn custom-button" style="margin-right: 10px;">Cập nhật lại số lượng trong ngày</button>
            <button type="button" id="addProductBtn" class="btn custom-button" style="margin-right: 10px;">+ Sản phẩm</button>
            <button type="button" id="addCategoryBtn" class="btn custom-button">+ Danh mục</button>
            <div id="modalCategory" class="modal">
                <div class="modal-content">
                    <div class="close d-flex justify-content-end align-items-center" id="closeCategory">
                        <i class="bi bi-arrow-bar-left"></i>
                        <span>Quay lại</span>
                    </div>
                    <h2 class="d-flex justify-content-center">Quản lý danh mục</h2>
                    <ul id="categoryList" class="category-list list-group mb-3">
                        {{#each categories}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>{{name}}</span>
                                    <button type="button" class="btn-close btn-sm" data-category-id="{{id}}"></button>
                            </li>
                        {{/each}}
                    </ul>
                    <div class="d-flex">
                        {{!-- <input type="text" class="form-control" id="categoryInput" placeholder="Nhập category..."> --}}
                        {{!-- <button type="button" id="addCategory" class="btn custom-button">Thêm</button> --}}
                        <div class="form-group">
                            <label for="selectType">Loại kinh doanh</label>
                            <div class="d-flex mt-1">
                                <div class="has-validation">
                                    <div class="d-flex">
                                        <div>
                                            <button class="form-control dropdown-toggle custom-filter d-flex justify-content-start align-items-center" aria-describedby="checkValidationCategories" type="button" id="dropdownCategory" data-toggle="dropdown" aria-expanded="true">
                                            Hãy chọn thêm những loại kinh doanh của cửa hàng bạn (nếu muốn)
                                            </button>
                                            <input id="selectedCategory" name="type" type="hidden">
                                            <ul class="custom-dropdown-menu dropdown-menu dropdown-category" aria-labelledby="dropdownCategory">
                                                {{#each list_category}}
                                                    <li class="checkboxCategory">
                                                        <div class="custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input category-checkbox" id="{{name}}" data-value="{{name}}">
                                                            <label class="dropdown-item category" for="{{name}}">{{name}}</label>
                                                        </div>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        <button type="button" id="addCategory" class="btn custom-button">Thêm</button>
                                    </div>
                                    <div id="checkValidationCategories" class="invalid-feedback">
                                    Vui lòng chọn ít nhất một lựa chọn.
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalProduct" class="modal">
                <div class="modal-content">
                    <h2 class="d-flex justify-content-center">Thêm sản phẩm mới</h2>
                    <div class=" primary">
                        <div class="w-100">
                            <label for="productName" class="form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="productName" placeholder="Cơm tấm sườn, bì, chả" aria-describedby="checkValidationName">
                            <div class="has-validation">
                                <div id="checkValidationName" class="invalid-feedback">
                                    Vui lòng nhập tên sản phẩm không quá 50 kí tự.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                        {{!-- <img src="/static/images/user/shop/alter-image.png" alt=""> --}}
                            <div class="form-group mt-1">
                                <label for="fuMain" aria-describedby="checkValidationImage">Ảnh sản phẩm</label>
                                <input type="file" id="fuMain" name="image">
                            </div>
                            <div class="has-validation">
                                <div id="checkValidationImage" class="invalid-feedback">
                                    Vui lòng thêm ảnh sản phẩm.
                                </div>
                            </div>
                        </div>
                        <div class="mb-1 d-flex justify-content-between">
                            <div class="w-100">
                                <label for="selectType">Danh mục</label>
                                <div class="dropdown">
                                    <div class="has-validation">
                                        <button class="form-control dropdown-toggle custom-filter d-flex justify-content-start align-items-center is-invalid mt-2" aria-describedby="checkValidationCategoriesProduct" type="button" id="dropdownCategoryProduct" data-toggle="dropdown" aria-expanded="false">
                                        Chọn các danh mục cho sản phẩm của bạn.
                                        </button>
                                        <input id="selectedProductCategory" name="type" type="hidden">
                                        <ul class="custom-dropdown-menu dropdown-menu dropdown-category" aria-labelledby="dropdownCategoryProduct">
                                            {{#each this.categories}}
                                                <li class="checkboxProductCategory">
                                                    <div class="custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input category-checkbox" id="{{name}}" data-value="{{name}}">
                                                        <label class="dropdown-item category" for="{{name}}">{{name}}</label>
                                                    </div>
                                                </li>
                                            {{/each}}
                                        </ul>
                                        <div id="checkValidationCategoriesProduct" class="invalid-feedback">
                                        Vui lòng chọn ít nhất một danh mục.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-1">
                            <label for="description" class="form-label">Thông tin sản phẩm</label>
                            <textarea textarea class="form-control" aria-label="With textarea" id="description" aria-describedby="checkValidationDescription"></textarea>
                            <div class="has-validation">
                                <div id="checkValidationDescription" class="invalid-feedback">
                                    Vui lòng thêm mô tả cho sản phẩm.
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mt-1">
                            <label for="selectType">Các lựa chọn</label>
                            <div class="dropdown options">
                                <div class="has-validation">
                                    <button class="form-control dropdown-toggle custom-filter d-flex justify-content-start align-items-center is-invalid mt-1" aria-describedby="checkValidationItem" type="button" id="dropdownItem" data-toggle="dropdown" aria-expanded="false">
                                    Hãy thêm các lựa chọn cho sản phẩm của bạn
                                    </button>
                                    <input id="selectedItem" name="type" type="hidden">
                                    <ul class="custom-dropdown-menu dropdown-menu dropdown-category" aria-labelledby="dropdownItem">
                                        <li><div class="dropdown-item" id="addOptionBtn">
                                            <i class="bi bi-plus"></i>
                                            <span>Thêm lựa chọn</span>
                                        </div></li>
                                    </ul>
                                    <div id="checkValidationItem" class="invalid-feedback">
                                    Vui lòng thêm ít nhất một lựa chọn và lựa chọn không được quá 50 kí tự.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-100">
                            <label for="optionName" class="form-label">Tên lựa chọn</label>
                            <input type="text" class="form-control" id="optionName" placeholder="Cơm tấm sườn, bì, chả" aria-describedby="checkValidationOptionName">
                            <div class="has-validation">
                                <div id="checkValidationOptionName" class="invalid-feedback">
                                    Vui lòng nhập tên lựa chọn không quá 50 kí tự.
                                </div>
                            </div>
                        </div>

                        <div class="d-flex mt-1">
                            <div class="">
                                <label for="price" class="form-label">Giá sản phẩm</label>
                                <input type="text" class="form-control" id="price" placeholder="100" aria-describedby="checkValidationPrice">
                                <div class="has-validation">
                                    <div id="checkValidationPrice" class="invalid-feedback">
                                        Không được để trống mục này.
                                    </div>
                                </div>
                            </div>
                            <div class="quantity">
                                <label for="quantity" class="form-label">Số lượng</label>
                                <input type="text" class="form-control" id="quantity" placeholder="100" aria-describedby="checkValidationQuantity">
                                <div class="has-validation">
                                    <div id="checkValidationQuantity" class="invalid-feedback">
                                        Không được để trống mục này.
                                    </div>
                                </div>
                            </div>
                            <div class="status">
                                <label for="" class="form-label">Trạng thái</label>
                                <div class="dropdown">
                                    <button class="form-control dropdown-toggle custom-filter d-flex justify-content-start align-items-center" aria-describedby="checkValidationCategories" type="button" id="statusItem" data-toggle="dropdown" aria-expanded="false">
                                    Hết hàng
                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="statusItem">
                                        <li class="dropdown-item" id="available">Còn hàng</li>
                                        <li class="dropdown-item active" id="unavailable">Hết hàng</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                    </div>

                    <div class="d-flex mt-3 justify-content-end">
                        <button type="button" id="closeProduct" class="btn custom-button">Quay lại</button>
                        <button type="button" id="saveOption" class="btn custom-button">Lưu lựa chọn</button>
                        <button type="button" id="addProduct" class="btn custom-button">Thêm sản phẩm</button>
                    </div>
                </div>
            </div>

            <div id="modalProductDetail" class="modal">
                <div class="modal-content">
                    <h2 class="d-flex justify-content-center">Quản lý sản phẩm</h2>
                    <div class=" primary">
                        <div class="w-100">
                            <label for="productNameDetail" class="form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="productNameDetail" placeholder="Cơm tấm sườn, bì, chả" aria-describedby="checkValidationNameDetail">
                            <div class="has-validation">
                                <div id="checkValidationNameDetail" class="invalid-feedback">
                                    Vui lòng nhập tên sản phẩm không quá 50 kí tự.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <div class="col-md-5">
                                <img src="/static/images/user/shop/alter-image.png" alt="" id="img-old" class="w-100">
                            </div>
                            <div class="form-group mt-1">
                                
                                <label for="fuMain2" aria-describedby="checkValidationImageDetail">Ảnh sản phẩm</label>
                                <input type="file" id="fuMain2" name="image">
                            </div>
                            <div class="has-validation">
                                <div id="checkValidationImageDetail" class="invalid-feedback">
                                    Vui lòng thêm ảnh sản phẩm.
                                </div>
                            </div>
                        </div>
                        <div class="mb-1 d-flex justify-content-between">
                            <div class="w-100">
                                <label for="selectType">Danh mục</label>
                                <div class="dropdown">
                                    <div class="has-validation">
                                        <button class="form-control dropdown-toggle custom-filter d-flex justify-content-start align-items-center is-invalid mt-2" aria-describedby="checkValidationCategoriesProductDetail" type="button" id="dropdownCategoryProductDetail" data-toggle="dropdown" aria-expanded="false">
                                        Chọn các danh mục cho sản phẩm của bạn.
                                        </button>
                                        <input id="selectedProductCategoryDetail" name="type" type="hidden">
                                        <ul class="custom-dropdown-menu dropdown-menu dropdown-category" aria-labelledby="dropdownCategoryProductDetail">
                                            {{#each this.categories}}
                                                <li class="checkboxProductCategoryDetail">
                                                    <div class="custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input category-checkbox" id="{{name}}" data-value="{{name}}">
                                                        <label class="dropdown-item category" for="{{name}}">{{name}}</label>
                                                    </div>
                                                </li>
                                            {{/each}}
                                        </ul>
                                        <div id="checkValidationCategoriesProductDetail" class="invalid-feedback">
                                        Vui lòng chọn ít nhất một danh mục.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-1">
                            <label for="descriptionDetail" class="form-label">Thông tin sản phẩm</label>
                            <textarea textarea class="form-control" aria-label="With textarea" id="descriptionDetail" aria-describedby="checkValidationDescriptionDetail"></textarea>
                            <div class="has-validation">
                                <div id="checkValidationDescriptionDetail" class="invalid-feedback">
                                    Vui lòng thêm mô tả cho sản phẩm.
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mt-1">
                            <label for="selectType">Các lựa chọn</label>
                            <div class="dropdown optionDetail">
                                <div class="has-validation">
                                    <button class="form-control dropdown-toggle custom-filter d-flex justify-content-start align-items-center is-invalid mt-1" aria-describedby="checkValidationItemDetail" type="button" id="dropdownItemDetail" data-toggle="dropdown" aria-expanded="false">
                                    Hãy thêm các lựa chọn cho sản phẩm của bạn
                                    </button>
                                    <input id="selectedItemDetail" name="type" type="hidden">
                                    <ul class="custom-dropdown-menu dropdown-menu dropdown-category" aria-labelledby="dropdownItemDetail">
                                        <li><div class="dropdown-item" id="addOptionBtnDetail">
                                            <i class="bi bi-plus"></i>
                                            <span>Thêm lựa chọn</span>
                                        </div></li>
                                    </ul>
                                    <div id="checkValidationItemDetail" class="invalid-feedback">
                                    Vui lòng thêm ít nhất một lựa chọn và lựa chọn không được quá 50 kí tự.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-100">
                            <label for="optionNameDetail" class="form-label">Tên lựa chọn</label>
                            <input type="text" class="form-control" id="optionNameDetail" placeholder="Cơm tấm sườn, bì, chả" aria-describedby="checkValidationOptionNameDetail">
                            <div class="has-validation">
                                <div id="checkValidationOptionNameDetail" class="invalid-feedback">
                                    Vui lòng nhập tên lựa chọn không quá 50 kí tự.
                                </div>
                            </div>
                        </div>

                        <div class="d-flex mt-1">
                            <div class="">
                                <label for="priceDetail" class="form-label">Giá sản phẩm</label>
                                <input type="text" class="form-control" id="priceDetail" placeholder="100" aria-describedby="checkValidationPriceDetail">
                                <div class="has-validation">
                                    <div id="checkValidationPriceDetail" class="invalid-feedback">
                                        Không được để trống mục này.
                                    </div>
                                </div>
                            </div>
                            <div class="quantity">
                                <label for="quantityDetail" class="form-label">Số lượng</label>
                                <input type="text" class="form-control" id="quantityDetail" placeholder="100" aria-describedby="checkValidationQuantityDetail">
                                <div class="has-validation">
                                    <div id="checkValidationQuantityDetail" class="invalid-feedback">
                                        Không được để trống mục này.
                                    </div>
                                </div>
                            </div>
                            <div class="status">
                                <label for="" class="form-label">Trạng thái</label>
                                <div class="dropdown">
                                    <button class="form-control dropdown-toggle custom-filter d-flex justify-content-start align-items-center" aria-describedby="checkValidationCategories" type="button" id="statusItemDetail" data-toggle="dropdown" aria-expanded="false">
                                    Hết hàng
                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="statusItemDetail">
                                        <li class="dropdown-item" id="availableDetail">Còn hàng</li>
                                        <li class="dropdown-item active" id="unavailableDetail">Hết hàng</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                    </div>

                    <div class="d-flex mt-3 justify-content-end">
                        <button type="button" id="closeProductDetail" class="btn custom-button mr-btn">Quay lại</button>
                        <button type="button" id="recommendDetail" class="btn custom-button mr-btn">Đề xuất</button>
                        <button type="button" id="deleteProductDetail" class="btn custom-button mr-btn">Xóa sản phẩm</button>
                        <button type="button" id="deleteOptionDetail" class="btn custom-button mr-btn">Xóa lựa chọn</button>
                        <button type="button" id="saveOptionDetail" class="btn custom-button mr-btn">Thêm lựa chọn</button>
                        <button type="button" id="updateProduct" class="btn custom-button mr-btn">Thay đổi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-category-bar mb-3 items">
        <ul class="nav nav-pills nav-fill align-items-center">
            <li class="nav-item">
                <i class="bi bi-chevron-left"></i>
            </li>
            {{#each this.categories}}
                <li class="nav-item">
                    <a class="nav-link" href="?categoryId={{id}}&page=1" id="{{id}}"><span>{{name}}</span></a>
                </li>
            {{/each}}

            <li class="nav-item">
                <i class="bi bi-chevron-right"></i>
            </li>
        </ul>
    </div>
    
    {{#if empty}}
        <div class="card">
            <div class="card-footer text-muted" id="none">
                Không tìm thấy sản phẩm phù hợp nào. Bạn vui lòng thêm sản phẩm nhé. 
            </div>   
        </div> 
            
    {{else}}
        {{#each foods}}
            <div class="card border mb-3">
                <div class="card-body d-flex justify-content-between">
                    <div class="col-md-2">
                        <img src="{{image}}" id="fixSizeImg" alt="">
                    </div>
                    <div class="row col-md-10">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row justify-content-lg-start">
                                <h4>{{name}}</h4>
                            </div>
                            <div class="d-flex flex-row">
                                <h5>Giá tiền: </h5>
                                <h5>{{price}}</h5>
                            </div>
                        </div>

                        <div class="d-flex flex-column justify-content-between">
                            <div class="d-flex justify-content-between mb-2">
                                <div class="d-flex flex-row">
                                    <span>Danh mục: </span>
                                    <span>{{category}}</span>
                                </div>
                                <div class="d-flex flex-row">
                                    <span>Số lượng: </span>
                                    <span>{{quantity}}</span>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between">
                                <div class="event">
                                    <i class="bi bi-star-fill"></i>
                                    <span>{{rating}}</span>
                                </div>
                            </div>

                            <div class="border-top mt-3">
                                <div class="d-flex justify-content-between align-item-center mt-1">
                                    <div class="text-muted small my-auto text-center">
                                        <span>Trạng thái: </span>
                                        <span>{{status}}</span>
                                    </div>
                                    
                                    <div class="btn-function">
                                        {{!-- <button type="button" class="btn custom-button" id="viewProductBtn">Xem chi tiết</button> --}}
                                        <button type="button" class="btn custom-button btn-detail" data-food-id="{{id}}">Xem chi tiết</button>
                                    </div>
                                    <input type="hidden" id="foodId" value="{{id}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        {{/each}}

        <nav aria-label="Page navigation example" class="justify-content-center mt-5" id="pagination">
            <ul class="pagination justify-content-center">
                {{#if this.isFirstPage}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Trang trước</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="#" id="previousPage" onclick="renderPreviousPage()">Trang trước</a>
                    </li>
                {{/if}}

                {{#each this.pageNumbers}}
                    {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/merchant/products?categoryId={{categoryId}}&page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                {{/each}}

                {{#if this.isLastPage}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Trang sau</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="#" id="nextPage" onclick="renderNextPage()">Trang sau</a>
                    </li>
                {{/if}}
            </ul>
        </nav>
    {{/if}}
</div>